body {
  margin: 0;
  padding: 0;
  font-size: 12pt;
}

.page-index {
  margin: 0;
  padding: 0;
}
.page-index ul {
  margin: 260px 0 0 0;
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
}
.page-index ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.page-index ul li a {
  display: flex;
  flex-direction: column;
}
.page-index ul li a span {
  display: block;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 4px;
  color: #282828;
  font-size: 16pt;
  font-weight: bold;
  line-height: 44px;
}
.page-index ul li a img {
  width: 300px;
  height: 195px;
}
.page-index ul li a:hover span {
  background-color: #70b913;
  color: #ffffff;
}

.page-list .search-block {
  margin: 20px;
  display: flex;
  position: relative;
}
.page-list .search-block img.logo {
  width: 40px;
  height: 40px;
  display: inline-block;
}
.page-list .search-block img.search {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 85px;
  top: 15px;
}
.page-list .search-block input {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 20px;
  border: 1px solid #dedede;
  height: 44px;
  width: 100%;
  border-radius: 25px;
  padding: 2px 50px;
  color: #272B38;
  font-size: 14pt;
}
.page-list .search-block input:focus {
  outline: none;
}
.page-list .hairline-block {
  height: 10px;
  background-color: #f2f2f2;
  width: 100%;
}
.page-list .listtable-block {
  margin: 20px;
}
.page-list .listtable-block table {
  width: 100%;
}
.page-list .listtable-block table thead th {
  color: #3d414c;
  font-size: 12pt;
  font-weight: bold;
  background-color: #f2f2f2;
  border-collapse: collapse;
  height: 36px;
}
.page-list .listtable-block table tbody td {
  color: #3d414c;
  font-size: 12pt;
  text-align: center;
  height: 36px;
  border-bottom: 1px solid #dedede;
}
.page-list .listtable-block table tbody td.column-name, .page-list .listtable-block table tbody td.column-code {
  color: #3199f7;
}
.page-list .listtable-block div.page-info {
  display: flex;
  justify-content: space-between;
  margin: 20px 60px 0 60px;
  color: #272b38;
}
.page-list .listtable-block div.page-info .analyze {
  list-style: none;
  display: flex;
}
.page-list .listtable-block div.page-info .analyze label {
  color: #70b913;
  font-weight: bold;
}
.page-list .listtable-block div.page-info .analyze li:nth-child(2) {
  margin-left: 30px;
}
.page-list .listtable-block div.page-info .pagination {
  display: flex;
  justify-content: center;
}
.page-list .listtable-block div.page-info .pagination li {
  list-style: none;
  margin-right: 30px;
}
.page-list .listtable-block div.page-info .pagination li:last-child {
  margin-right: 0;
}
.page-list .listtable-block div.page-info .pagination li a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.page-list .listtable-block div.page-info .pagination li a img {
  display: inline-block;
  margin-right: 5px;
  width: 20px;
  height: 20px;
}
.page-list .listtable-block div.page-info .pagination li a span {
  display: inline-block;
  color: #272B38;
  font-size: 12pt;
}

.page-detail .block-title {
  text-align: center;
  margin: 30px 0;
}
.page-detail .block-title h1 {
  font-size: 22pt;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.page-detail .block-content {
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
}
.page-detail .block-content .main-content {
  flex: 1 1 800px;
}
.page-detail .block-content .main-content .section-content .steps {
  margin-left: 0;
  margin-top: 40px;
}
.page-detail .block-content .main-content .section-content .steps:first-child {
  margin-top: 0px;
}
.page-detail .block-content .main-content .section-content .steps h3 {
  font-size: 18pt;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.page-detail .block-content .slider-steps {
  flex: 1 1 390px;
  margin-left: 10px;
}
.page-detail .block-content .slider-steps .steps-sub-title h4 {
  color: #3199f7 !important;
}
.page-detail .block-content .slider-steps .detect {
  margin-top: 20px;
  text-align: center;
}
.page-detail .block-content .slider-steps .detect a.button {
  display: inline-block;
  text-decoration: none;
  background-color: #b0e31f;
  border: 1px solid #b0e31f;
  border-radius: 10px;
  width: 150px;
  height: 30px;
  line-height: 30px;
  color: #272b38;
}
.page-detail .block-content .section .section-title {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  margin-left: 20px;
}
.page-detail .block-content .section .section-title img {
  width: 16px;
  height: 16px;
}
.page-detail .block-content .section .section-title span {
  display: block;
  margin-left: 5px;
}
.page-detail .block-content .section .section-content {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 25px 20px;
}
.page-detail .block-content .section .section-content .description {
  color: #868686;
  margin: 10px 0 0 0;
  line-height: 25px;
}
.page-detail .block-content .section .section-content .widget-position {
  margin: 10px 0 0 0;
  text-align: center;
}
.page-detail .block-content .section .section-content .widget-position img {
  width: 500px;
}
.page-detail .block-content .section .steps-sub-title {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.page-detail .block-content .section .steps-sub-title:first-child {
  margin-top: 20px;
}
.page-detail .block-content .section .steps-sub-title img {
  width: 14px;
  height: 14px;
  margin-right: 5px;
}
.page-detail .block-content .section .steps-sub-title h4 {
  margin: 0;
  padding: 0;
  font-size: 14pt;
  color: #555555;
}

/*# sourceMappingURL=main.css.map */
